{% load static %}
<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/NavBar.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
        {% block head %}
        {% endblock %}
    </head>
    <body bgcolor="#e9eaf2">
        <header>
            <a class="logo" href="/HomePage"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
            <nav>
                <ul class="nav__links">
                    <li><a  {% if navbar == 'home' %} class="active" {% endif %} href="/HomePage">Home</a></li>
                    <li><a {% if navbar == 'add-student' %} class="active" {% endif %} href="/Add_Student">Add Student</a></li>
                    <li><a {% if navbar == 'search' %} class="active" {% endif %} href="/Search">Search</a></li>
                    <li><a {% if navbar == 'view-all' %} class="active" {% endif %} href="/View-all">View All</a></li>
                    {% if request.user.is_authenticated%} 
                        <li><a class="logoutnav" href="/signout" >Log out</a></li>
                    {% else %}
                        <li><a class="logoutnav" href="/loginPage">Log in</a></li>
                    {% endif %}
                </ul>
            </nav>
            <p class="menu active">Menu</p>
        </header>
        <div id="mobile__menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a  {% if navbar == 'home' %} class="active__overlay" {% endif %} href="/HomePage">Home</a>
                <a {% if navbar == 'add-student' %} class="active__overlay" {% endif %} href="/Add_Student">Add Student</a>
                <a {% if navbar == 'search' %} class="active__overlay" {% endif %} href="/Search">Search</a>
                <a {% if navbar == 'view-all' %} class="active__overlay" {% endif %} href="/View-all">View All</a>
                {% if request.user.is_authenticated%} 
                    <a class="logoutnav" href="/signout" >Log out</a>
                {% else %}
                    <a class="logoutnav" href="/loginPage">Log in</a>
                {% endif %}
            </div>
        </div>
        
        {% block content %}
        {% endblock %}

        {% block js %}
        {% endblock %}
        <script type="text/javascript" src="{% static 'JS/nav.js'%}"></script>
    </body>
</html>